h3 {
  color: black;
  font-size: 135%;
  font-weight: 700 !important;
}

.wy-side-nav-search {
  background-color: #343131;
}

.wy-side-nav-search input[type=text] {
  border-color: #343131 !important;
}

hr {
  border-top-width: 0;
}

.section ul {
  margin-top: -16px !important;
}
